.index-page{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: linear-gradient(45deg, #f3f3f3, #fff);

    }
}